<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
<nav>
    <ul>
        {% for item in site.data.menu %}
        <li> <a href="{{item.link}}">{{item.title}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>